pre {
  background: #f6f8fa;
  border-radius: 3px;
  position: relative;

  code {
    .hljs-tag,
    .hljs-tag .hljs-title,
    .hljs-change,
    .hljs-winutils,
    .hljs-flow,
    .hljs-tex .hljs-special {
      color: #2973b7;
    }

    .hljs-symbol,
    .hljs-symbol .hljs-string,
    .hljs-value,
    .hljs-regexp,
    .hljs-string,
    .hljs-subst,
    .hljs-haskell .hljs-type,
    .hljs-preprocessor,
    .hljs-ruby .hljs-class .hljs-parent,
    .hljs-sql .hljs-aggregate,
    .hljs-django .hljs-template_tag,
    .hljs-django .hljs-variable,
    .hljs-smalltalk .hljs-class,
    .hljs-javadoc,
    .hljs-django .hljs-filter .hljs-argument,
    .hljs-smalltalk .hljs-localvars,
    .hljs-smalltalk .hljs-array,
    .hljs-attr_selector,
    .hljs-pseudo,
    .hljs-selector-pseudo,
    .hljs-addition,
    .hljs-stream,
    .hljs-envvar,
    .hljs-apache .hljs-tag,
    .hljs-apache .hljs-cbracket,
    .hljs-tex .hljs-command,
    .hljs-prompt {
      color: #42b983;
    }
    .hljs-constant {
      color: #0092db;
    }

    .hljs-built_in {
      color: #e96900;
    }
    .hljs-function {
      .hljs-keyword, .hljs-title {
        color: #e96900;
      }
    }

    .hljs-keyword,
    .hljs-attribute {
      color: #d63200;
    }
    .hljs-number,
    .hljs-literal {
      color: #a32eff;
    }
    .hljs-class .hljs-title {
      color: #fff;
    }
    .hljs-title {
      color: #a6e22e;
    }
    .hljs-tag .hljs-value,
    .hljs-comment,
    .hljs-java .hljs-annotation,
    .hljs-python .hljs-decorator,
    .hljs-template_comment,
    .hljs-pi,
    .hljs-doctype,
    .hljs-meta,
    .hljs-deletion,
    .hljs-shebang,
    .hljs-apache .hljs-sqbracket,
    .hljs-tex .hljs-formula {
      color: #8e908c;
    }
    .hljs-coffeescript .hljs-javascript,
    .hljs-javascript .hljs-xml,
    .hljs-tex .hljs-formula,
    .hljs-xml .hljs-javascript,
    .hljs-xml .hljs-vbscript,
    .hljs-xml .hljs-css,
    .hljs-xml .hljs-cdata {
      opacity: 0.5;
    }
  }
  .hljs.html::before,
  .hljs.js::before,
  .hljs.bash::before,
  .hljs.css::before {
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    color: #ccc;
    text-align: right;
    font-size: 0.9em;
    padding: 5px 10px 0;
    line-height: 15px;
    height: 15px;
    font-weight: 600;
  }
  .hljs.html::before {
    content: "HTML";
  }
  .hljs.js::before {
    content: "JS";
  }
  .hljs.bash::before {
    content: "Shell";
  }
  .hljs.css::before {
    content: "CSS";
  }
}
