// 自定义样式
/* 头部样式 */
.site-meta {
  +tablet-mobile() {
    // 移动端头部高度
    padding: 4px 0 8px;
  }
}

/* 归档页样式 */
.posts-collapse {
  .post-content {
    .post-header {
      border-bottom: none;
      margin-top: 15px;
    }
  }
  .post-title {
    font-size: 14px;
  }

  .post-meta-tags {
    a {
      background #ddd;
      border-radius: 10px;
      font-size: 12px;
      line-height: 16px;
      padding: 2px 10px;
      text-decoration: none;
      border: none;
      &:hover {
        border: none;
      }
    }
  }
}

// 文章页样式
.post-body {
  font-size: 14px
  // 列表显示效果
  ul, ol {
    padding-left: 20px;
  }
  p {
    a {
      &:hover {
        color: #fc6423;
        border-bottom: 1px solid #fc6423;
      }
    }
  }

  /* h2 标题添加下划线 */
  h2 {
    padding-bottom: 6px;
    border-bottom: 1px solid #eee;
  }
}

/* 滚动条样式 */
.table-container, pre, html, .post-toc {
  &::-webkit-scrollbar-thumb { /* 滚动条里面的小方块 */
    &:hover {
      background-color: #aaa;
    }

    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: #909090;
  }

  &::-webkit-scrollbar { /* 滚动条整体部分 */
    height: 16px;
    width: 16px;
  }
}

/* 代码样式 */
blockquote {
  background: #f8f8f8;
  border-left: 4px solid #42b983;
}
code {
  color: #ff7600;
  background: #f6f8fa;
  margin: 0 2px;
}

// 大代码块的自定义样式
.highlight, pre {
  border-radius: 3px;
  line-height: 1.8;
  background: #f6f8fa !important;
  font-size: 14px;
}
code {
  font-size: 14px;
}

/* 鼠标选中时的样式 */
// ::selection, ::-moz-selection  {
//   background: rgba(0, 0, 0, 0.1);
// }
