
  $highlight-background   = #f7f7f7
  $highlight-current-line = #efefef
  $highlight-selection    = #d6d6d6
  $highlight-foreground   = #4d4d4c
  $highlight-comment      = #8e908c
  $highlight-red          = #2973b7 //
  $highlight-orange       = #c76b29 //
  $highlight-yellow       = #eab700
  $highlight-green        = #42b983 //
  $highlight-aqua         = #3e999f
  $highlight-blue         = #4271ae
  $highlight-purple       = #e96900 //
  $highlight-gutter       = {
    color: #869194,
    bg-color: #eff2f3
  }


$content-desktop-largest      = 1160px /* 自定义页面宽度 */
