name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2.1.2
        with:
          node-version: '14.x'

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - run: npm ci
      - run: npm run build

      - name: Deploy to github pages
        # https://github.com/peaceiris/actions-gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'

      - name: Deploy to netlify
        uses: netlify/actions/cli@master
        with:
          args: deploy --dir=public --prod
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}

  # sync:
  #   runs-on: ubuntu-18.04
  #   needs: deploy
  #   steps:
  #     - name: Sync to Gitee
  #       uses: wearerequired/git-mirror-action@master
  #       env:
  #         # 注意在 Settings->Secrets 配置 GITEE_RSA_PRIVATE_KEY
  #         SSH_PRIVATE_KEY: ${{ secrets.GITEE_RSA_PRIVATE_KEY }}
  #       with:
  #         # 注意替换为你的 GitHub 源仓库地址
  #         source-repo: git@github.com:cuilongjin/hexo-blog.git
  #         # 注意替换为你的 Gitee 目标仓库地址
  #         destination-repo: git@gitee.com:cuilongjin/hexo-blog.git

  #     - name: Build Gitee Pages
  #       uses: yanglbme/gitee-pages-action@main
  #       with:
  #         # 注意替换为你的 Gitee 用户名
  #         gitee-username: cuilongjin
  #         # 注意在 Settings->Secrets 配置 GITEE_PASSWORD
  #         gitee-password: ${{ secrets.GITEE_PASSWORD }}
  #         # 注意替换为你的 Gitee 仓库，仓库名严格区分大小写，请准确填写，否则会出错
  #         gitee-repo: cuilongjin/hexo-blog
  #         # 要部署的分支，默认是 master，若是其他分支，则需要指定（指定的分支必须存在）
  #         branch: gh-pages
